.b-purchase-ticket {
  background: image-url('bg/bg-purchase-ticket.png');
  width: 594px;
  height: 170px;
  padding: 15px 29px 0 27px;
  margin: -10px 0 35px -14px;

  p {
    font-size: 18px;
    text-align: center;
    color: #3b5f94;
    font-family: $Humanaregular;
  }
}