&.page-message-board {
  background: image-url('bg/bg-body.png');

  .content-wrapper {
    background: none;
  }

  .inner {
    width: 1000px;
  }

  .left-part {
    float: left;
    width: 675px;
  }

  .sidebar {
    width: 322px !important;

    .sidebar-item {
      position: relative;
      height: 300px;
      margin-left: 25px;

      &.prap-room {

        &:before {
          @include pseudo-block($top: 0, $left: 0);
          @include oneline-sprite-box($icons, prop-room)
        }

        &:after {
          @include pseudo-block($top: 60px, $left: 0);
          @include oneline-sprite-box($icons, prop-room-door)
        }
      }

      &.message-board {
        a {
          right: 35px;
          top: 163px;
          margin: 0;
        }
        &:before {
          @include pseudo-block($top: 0, $left: 32px);
          @include oneline-sprite-box($icons, message-board-text)
        }

        &:after {
          @include pseudo-block($top: 84px, $left: 0);
          @include oneline-sprite-box($icons, message-board)
        }
      }

      &.calendar {

        &:before {
          @include pseudo-block($top: 0, $left: 0);
          @include oneline-sprite-box($icons, calendar)
        }

        &:after {
          @include pseudo-block($top: 60px, $left: 0);
          @include oneline-sprite-box($icons, calendar-calendar)
        }
      }

      p {
        text-shadow: -2px 2px 0px #3b1723;
        font-family: $Humanaregular;
        font-size: 19px;
        width: 108px;
        text-align: center;
        color: #b398aa;
        line-height: 22px;
        float: right;
        padding: 60px 0 0 22px;
      }

      a {
        text-shadow: -2px 2px 0px #d1861d;
        font-family: $Humanaregular;
        display: block;
        font-size: 33px;
        color: #fff9ae;
        position: relative;
        background: image-url('bg/bg-btn-Go.png') repeat-x;
        height: 60px;
        float: right;
        margin: 0 51px 0 10px;
        text-decoration: none;
        line-height: 48px;
        padding: 0 0 0 9px;
        z-index: 1;
        right: -121px;
        top: 185px;

        &:hover {
          text-shadow: 0 0 0;
        }

        &:before {
          @include pseudo-block($top: 0, $left: -10px);
          @include oneline-sprite-box($icons, bg-Go-big)
        }

        &:after {
          @include pseudo-block($top: -12px, $right: -39px);
          @include oneline-sprite-box($icons, bg-arrow-Go);
          z-index: -1;
        }
      }
    }

    .form {
      width: 311px;
      height: 344px;
      position: relative;
      background: image-url('bg/sug-box-textarea.png');
      margin: 100px 0 0 0;

      &:before {
        @include pseudo-block($top: -84px, $left: 15px);
        @include oneline-sprite-box($icons, sug-box)
      }

      .form-textarea {
        font-family: $Humanaregular;
        border: none;
        resize: none;
        display: block;
        width: 170px;
        height: 141px;
        padding: 5px;
        background: none;
        position: absolute;
        top: 20px;
        right: 62px;
        font-size: 15px;
        color: #368099;
      }

      .btn-wrap {
        position: absolute;
        right: 60px;
        bottom: 142px;

        .submit-wrapper {
          position: relative;
          display: inline-block;

          &:before {
            @include pseudo-block($top: 0, $left: 0);
            @include oneline-sprite-box($icons, btn-board-message-left)
          }

          &:after {
            @include pseudo-block($top: 0, $right: 0);
            @include oneline-sprite-box($icons, btn-board-message-right)
          }

          .form-submit {
            text-shadow: -2px 2px 0px #d1861d;
            font-family: $Humanaregular;
            font-size: 20px;
            color: #fff9ae;
            height: 31px;
            line-height: 24px;
            padding: 4px 10px 3px;
            display: block;
            border: none;
            background: image-url('bg/btn-board-message.png') repeat-x;
            cursor: pointer;
            margin: 0 3px;

            &:hover {
              text-shadow: 0 0 0;
            }
          }
        }
      }
    }
  }

  .decor-title {
    width: 100%;
    min-width: 800px;
    height: 94px;
    margin-top: 18px;
    position: relative;
    text-align: center;
    overflow: hidden;

    .decor-title-images {
      position: relative;
      width: 685px;
      margin: 0 auto;
      background: image-url("tmp/title-header-decor-md.png") 0 0 no-repeat;
      height: 94px;

      &:before {
        @include pseudo-block($top: 0, $left: -5000px);
        background: image-url('tmp/bg-title-decor-left-n.png') 100% 0 repeat-x;
        display: block;
        width: 5000px;
        height: 94px;
      }
      &:after {
        @include pseudo-block($top: 0, $right: -5000px);
        background: image-url('tmp/bg-title-decor-left-n.png') 100% 0 repeat-x;
        display: block;
        width: 5000px;
        height: 94px;
      }
    }
  }

  .top-title {
    text-align: center;
    position: relative;
    margin: -36px 0 15px -22px;

    &:before {
      @include pseudo-block($top: 24px, $left: -22px);
      @include oneline-sprite-box($icons, light-left)
    }

    &:after {
      @include pseudo-block($top: 24px, $right: 0);
      @include oneline-sprite-box($icons, light-right)
    }
  }

  .log-out {
    border: 2px solid #793b4f;
    background: #64283b;
    margin: 0 0 24px 16px;
    height: 44px;
    position: relative;
    width: 638px;
    font-size: 17px;
    font-family: $Humanaregular;
    color: #a68099;
    padding: 0 0 0 21px;
    text-shadow: -2px 2px 0px #451a27;
    line-height: 44px;
    margin-bottom: 50px;

    a {
      color: #a68099;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      &.user-login {
        font-size: 21px;
        display: inline-block;
        padding: 0 7px;
      }

      &.log-out-link {
        font-weight: bold;
        font-size: 14px;
        float: right;
        margin-right: 40px;
      }
    }
  }

  .prop-wrapper {
    background: image-url('bg/bg-item-wrapp.png');
    float: left;
    width: 670px;
    position: relative;
    padding: 34px 58px 40px 70px;

    &:before {
      @include pseudo-block($top: -26px, $left: 16px);
      @include oneline-sprite-box($icons, bg-top-title);
    }

    .title-images {
      position: absolute;
      left: 50%;
      top: -35px;
      margin: 0 0 0 -153px;
      display: block;
      width: 306px;
      height: 55px;
    }

    .field-item {
      @include clearfix();
      position: relative;
      margin-bottom: 25px;
      padding-top: 20px;

      &:before {
        @include pseudo-block($bottom: -40px, $left: -18px);
        @include oneline-sprite-box($icons, bg-item-bottom);
      }

      .img {
        background: image-url('bg/img-bg.png') no-repeat;
        padding: 16px;
      }

      .pull-left {
        width: 33%;
      }

      .pull-right {
        width: 67%;
        padding-left: 20px;

        h3 {
          text-shadow: -3px 2px 0px #4d2e0f;
          font-family: $Humanaregular;
          font-weight: normal;
          font-size: 25px;
          color: #8dd2d9;
          margin: 6px 0 15px 0;
        }

        p {
          text-shadow: -3px 2px 0px #4d2e0f;
          font-family: $Humanaregular;
          font-weight: normal;
          font-size: 20px;
          color: #e6c973;
          line-height: 23px;
          margin: 0 0 27px 0;
        }

        .links {
          float: right;
          padding-right: 30px;

          a {
            background: image-url('bg/btn-board-message.png') repeat-x;
            text-shadow: -2px 2px 0px #d1861d;
            font-family: $Humanaregular;
            font-size: 20px;
            color: #fffbc7;
            text-decoration: none;
            height: 35px;
            line-height: 29px;
            display: inline-block;
            position: relative;
            margin: 0 7px;
            padding: 0 8px 0 40px;

            &:hover {
              text-shadow: 0 0 0;
            }
            &:before {
              @include pseudo-block($top: 0, $left: -3px);
              @include oneline-sprite-box($icons, btn-board-message-left);
            }

            &:after {
              @include pseudo-block($top: 0, $right: -3px);
              @include oneline-sprite-box($icons, btn-board-message-right);
            }

            &.visit {
              span {
                position: relative;

                &:before {
                  @include pseudo-block($top: 2px, $left: -29px);
                  @include oneline-sprite-box($icons, link)
                }
              }
            }

            &.download {
              span {
                position: relative;

                &:before {
                  @include pseudo-block($top: 2px, $left: -29px);
                  @include oneline-sprite-box($icons, download)
                }
              }
            }
          }
        }
      }
    }
  }

  .message-wrapper {
    background: image-url('bg/bg-message-board.png');
    float: left;
    width: 670px;
    position: relative;
    padding: 34px 58px 40px 70px;

    &:before {
      @include pseudo-block($top: -25px, $left: 0);
      @include oneline-sprite-box($icons, bg-top-title-m);
    }
    &:after {
      @include pseudo-block($bottom: -27px, $left: 0);
      @include oneline-sprite-box($icons, bg-bottom-m);
    }

    .title-images {
      position: absolute;
      left: 50%;
      top: -35px;
      margin: 0 0 0 -203px;
      display: block;
      width: 405px;
      height: 55px;
    }

    .form {
      background: image-url("bg/bg-form-text-new.png") 0 100% repeat-y;
      height: 170px;
      width: 541px;
      position: relative;
      margin-bottom: 50px;

      label {
        font-size: 16px;
        font-family: $Humanaregular;
        color: #C9C579;
        padding: 12px 0 0 25px;
      }

      .form-textarea {
        background: none;
        resize: none;
        border: none;
        position: absolute;
        width: 490px;
        height: 67px;
        top: 34px;
        left: 26px;
        font-family: $Humanaregular;
        font-size: 20px;
        color: #368099;
        line-height: 24px;
      }
    }

    .btn-wrap {
      position: absolute;
      right: 19px;
      bottom: 20px;
      float: right;

      .submit-wrapper {
        display: inline-block;
        position: relative;

        &:before {
          @include pseudo-block($top: 0, $left: 0);
          @include oneline-sprite-box($icons, btn-board-message-left)
        }

        &:after {
          @include pseudo-block($top: 0, $right: 0);
          @include oneline-sprite-box($icons, btn-board-message-right)
        }

        .form-submit {
          text-shadow: -2px 2px 0px #d1861d;
          font-family: $Humanaregular;
          font-size: 20px;
          color: #fff9ae;
          height: 31px;
          line-height: 24px;
          padding: 4px 10px 3px;
          display: block;
          border: none;
          background: image-url('bg/btn-board-message.png') repeat-x;
          cursor: pointer;
          margin: 0 3px;

          &:hover {
            text-shadow: 0 0 0;
          }
        }
      }
    }

    .item-messages {
      background: image-url('bg/bg-content-item-m.png');
      padding: 0 25px;
      position: relative;
      margin-bottom: 50px;

      &:before {
        @include pseudo-block($top: -39px, $left: 0);
        @include oneline-sprite-box($icons, bg-top-item-m)
      }

      &:after {
        @include pseudo-block($bottom: -11px, $left: 0);
        @include oneline-sprite-box($icons, bg-bottom-item-m)
      }

      .messages-top {
        @include clearfix();
        padding: 5px 0px 7px;
        margin: 0 0 13px 0;
        border-bottom: 3px dotted #F0EA97;

        .username {
          font-family: $Humanaregular;
          font-size: 20px;
          color: #ed9200;
          float: left;

          .author-name {
            font-weight: bold;
          }
        }

        .date {
          font-family: $Humanaregular;
          font-size: 16px;
          text-transform: uppercase;
          color: #c9c579;
          float: right;
        }
      }

      .content-text {
        p {
          font-family: $Humanaregular;
          font-size: 20px;
          color: #368099;
          line-height: 24px;
          margin: 0;
        }
      }

      .rating-messages {
        @include clearfix();

        .vud-widget-star {
          float: right;
          font-family: $Humanaregular;
          font-size: 16px;
          text-transform: uppercase;
          color: #C9C579;
          display: inline-block;
          line-height: 42px;
          padding: 0;
          vertical-align: top;

          .vote-star {
            display: inline-block;
            @include oneline-sprite-box($icons, star-noactive);
            vertical-align: top;
            margin: 0 20px;

            &:hover {
              @include oneline-sprite-box($icons, star);
            }
          }
        }
      }
    }
  }
}