&.page-what-we-do {

  .view-content {
    padding: 0 !important;

    p {
      padding: 0 0 30px 0;

      strong {
        display: block;
        text-decoration: underline;
        font-weight: bold;
      }

      span {
        font-style: italic;
        display: block;
      }
    }
  }

}