&.page-info {

  .content-wrapper {

    .img {
      margin-bottom: 30px;
    }

    h4 {
      color: #cf760f;
      font-size: 25px;
      margin: 0 0 10px;
      font-family: $peralta-regular;
    }

    p {
      margin: 0 0 30px;
      line-height: 1.4;
    }

    .left-part, .right-part {
      float: left;
      width: 50%;
    }

    span {
      display: block;
    }

    .left-part {
      padding-right: 30px;
    }

    .right-part {
      padding-left: 30px;
    }

  }
}