&.page-membership {

  .inner-wrapper {

    label{
      display: inline-block;
    }

    fieldset {
      margin: 0 0 25px;
      padding: 0;
      border: none;
      border-bottom: 2px solid #f2bd4b;

      .form-type-radio {
        display: inline-block;
        margin-right: 45px;

        strong {
          display: block;
          font-size: 31px;
          color: #3b5f94;
          font-family: $peralta-regular;
        }
      }

      &:last-child {
        border-bottom: none;

        .form-type-radio {

          strong {
            display: block;
            font-size: 23px;
            color: #cf760f;
          }
        }
      }
    }

    .cols {

      .col {
        &:first-child {
          padding-right: 40px;

          img {
            width: 100%;
          }
        }

        &:last-child {
          p {
            font-size: 23px;
            color: #cf760f;
          }
        }
      }
    }
  }
}