&.page-tickets, &.page-register {

  .form-item-production .select2-selection, .form-item-datetime .select2-selection {
    min-width: 150px;

    @media (min-width: $bp-middle) {
      min-width: 200px;
    }

    @media (min-width: $bp-large) {
      min-width: 229px;
    }
  }

  .webform-component-select {
    margin-bottom: 45px;

    @media (min-width: $bp-small) {
      display: inline-block;
      margin-right: 20px;
      max-width: 230px;
      margin-bottom: 25px;
    }

    @media (min-width: $bp-middle) {
      margin-right: 60px;
      max-width: 278px;
      margin-bottom: 40px;
    }

    @media (min-width: $bp-large) {
      margin-right: 100px;
      max-width: 320px;
    }

    .select2.select2-container {
      width: 100%;

      @media (min-width: $bp-small) {
        width: auto;
      }
    }

    label {
      font-size: 20px;
      color: #3b5f94;
      font-family: $peralta-regular;
      margin-bottom: 15px;

      @media (min-width: $bp-small) {
        font-size: 24px;
      }

      @media (min-width: $bp-middle) {
        font-size: 27px;
      }

      @media (min-width: $bp-large) {
        font-size: 31px;
      }
    }
  }

  .left-part {
    margin-bottom: 30px;

    @media (min-width: $bp-small) {
      float: left;
      width: 60%;
      margin: 0;
    }

    @media (min-width: $bp-middle) {
      width: 70%;
    }
  }

  .right-part {
    display: none;

    @media (min-width: $bp-small) {
      float: right;
      display: block;
    }

    img {
      display: block;
      margin: 0 auto;

      @media (min-width: $bp-small) {
        margin: 0;
      }
    }

    .content .content a {
      background: image-url('bg/item-desc.png');
      display: block;
      width: 271px;
      height: 121px;
      font-size: 28px;
      color: #9dc1f2;
      font-family: $peralta-regular;
      position: relative;
      text-decoration: none;
      padding: 20px;
      text-align: center;
      background-repeat: no-repeat;
      margin: 0 auto;

      @media (min-width: $bp-small) {
        margin: 0;
      }

      &:before {
        @include pseudo-block($top: 54%, $right: 18px);
        @include oneline-sprite-box($icons, arrow-link-right);
        @include transform(translateY(-50%));
      }
    }
  }

  .btn-wrap {
    position: relative;
    left: 50%;
    @include transform(translateX(-50%));
    margin-top: 25px;
  }

  tbody {
    border: none;
  }

  .add-elem {
    padding: 25px 0 25px 60px;
    display: block;
    border-bottom: 10px solid #f5c658;
  }

  .total {
    padding: 20px 70px 20px 0;
    text-align: right;
    position: relative;

    &:before {
      @include pseudo-block($bottom: 0, $right: 0, $left: 0);
      background: image-url('bg/dott-post.png');
      height: 5px;
    }

    span {
      margin-right: 15px;
    }
  }

  .table {
    width: 100%;
    border-bottom: 5px solid #f5c658;
    font-size: 12px;

    @media (min-width: $bp-small) {
      font-size: 17px;
      border-bottom: 10px solid #f5c658;
    }

    @media (min-width: $bp-middle) {
      font-size: 18px;
    }

    @media (min-width: $bp-large) {
      font-size: 19px;
    }


    strong {
      display: block;
    }

    thead {
      background: #f5c658;

      td {
        font-size: 15px;
        font-family: $podkova-bold;
        color: #cc6d00;
        text-transform: uppercase;
      }
    }

    td {
      padding: 4px 2px;

      @media (min-width: $bp-small) {
        padding: 7px 2px;
      }

      @media (min-width: $bp-middle) {
        padding: 20px 0;
      }
    }

    tr {
      border-bottom: 2px solid #f5c658;

      @media (min-width: $bp-small) {
        border-bottom: 3px solid #f5c658;
      }

      &:last-child {
        border-bottom: none;
      }

      th {
        padding: 5px;

        @media (min-width: $bp-small) {
          padding: 0;
        }
      }
    }
  }
}
