&.page-with-title-image {

  div.error {

    h2 {
      width: auto;
    }
  }

  h2 {
    font-size: 25px;
    font-family: $peralta-regular;
    color: #3b5f94;
    position: relative;
    display: block;
    width: 100%;
    padding: 10px 0;
    margin: 0;

    @media (min-width: $bp-small) {
      font-size: 28px;
    }

    @media (min-width: $bp-middle) {
      font-size: 30px;
    }

    @media (min-width: $bp-large) {
      font-size: 40px;
    }


  }

  .title {
    padding: 10px 0 0 0;
    overflow: hidden;

    @media (min-width: $bp-small) {
      overflow: visible;
      padding: 0;
    }

    img {
      position: relative;
      left: 50%;
      @include transform(translateX(-50%));
      display: block;
      max-width: none;
      width: 238%;

      @media (min-width: $bp-small) {
        width: auto;
      }
    }
  }
}