&.section-items {
  padding: 20px 0;
  text-align: center;

  @media (min-width: $bp-small) {
    padding: 40px 0;
  }

  .item {
    width: 270px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 16px;

    @media (min-width: $bp-large) {
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 0;

      .btn-wrap {
        margin-bottom: 0;
      }
    }

    .btn-wrap {
      margin-bottom: 25px;

      @media (min-width: $bp-small) {
        margin-bottom: 0;
      }
    }

    .text {
      padding: 0 10px;
      font-size: 15px;
      color: #925100;
      line-height: 1.2;
      margin-bottom: 10px;

      @media (min-width: $bp-small) {
        font-size: 18px;
      }

      @media (min-width: $bp-middle) {
        line-height: 1.4;
        font-size: 21px;
        margin-bottom: 0;
      }

      p {
        margin: 7px 0;

        @media (min-width: $bp-small) {
          margin: 15px 0;
        }
      }
    }

    img {
      display: block;
      margin: 0 auto;
      width: 97px;

      @media (min-width: $bp-small) {
        width: auto;
      }
    }
  }

  .form-subscribe {
    padding: 0;

    &:before, &:after {
      display: none;
    }
  }

  .img-desc {
    display: inline-block;
    font-size: 22px;
    padding: 10px;
    margin-top: -5px;
    color: #d17600;
    font-family: $peralta-regular;
    line-height: 1;

    @media (min-width: $bp-small) {
      padding: 20px 10px;
      font-size: 24px;
      margin-bottom: 10px;
      line-height: 1.4;
    }

    @media (min-width: $bp-middle) {
      font-size: 26px;
      margin-bottom: 20px;
    }

    @media (min-width: $bp-large) {
      font-size: 32px;
    }

    a {
      text-decoration: none;
      color: #d17600;
    }
  }

  &.section-desc {

    &:before {
      width: 100%;
      @include pseudo-block($top: 0, $left: 50%, $bottom: 0);
      background: #f7c757;
      @include transform(translateX(-50%));
      z-index: -1;
    }

    .img {

      img {
        width: 186px;

        @media (min-width: $bp-small) {
          width: auto;
        }
      }
    }

    .img-desc {
      background: image-url('bg/item-desc.png');
      width: 192px;
      height: 83px;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      padding: 11px 20px 20px;
      line-height: 1.2;

      @media (min-width: $bp-small) {
        line-height: 1.4;
        width: 271px;
        height: 121px;
        background-size: auto;
        padding: 20px 0;
        margin-bottom: 20px;
      }

      a {
        color: #9cc0f4;
        text-decoration: none;
        @include transition(all .3s);

        @media (min-width: $bp-small) {
          letter-spacing: 1px;
        }

        &:hover {
          opacity: .7;
        }
      }
    }
  }

}