@font-face {
  font-family: 'podkova-bold';
  src: url('../fonts/podkova-bold-webfont.eot');
  src: url('../fonts/podkova-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/podkova-bold-webfont.woff') format('woff'),
  url('../fonts/podkova-bold-webfont.ttf') format('truetype'),
  url('../fonts/podkova-bold-webfont.svg#podkova-bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'podkova-regular';
  src: url('../fonts/podkova-regular-webfont.eot');
  src: url('../fonts/podkova-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/podkova-regular-webfont.woff') format('woff'),
  url('../fonts/podkova-regular-webfont.ttf') format('truetype'),
  url('../fonts/podkova-regular-webfont.svg#podkova-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'peralta-regular';
  src: url('../fonts/peralta-regular-webfont.eot');
  src: url('../fonts/peralta-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/peralta-regular-webfont.woff') format('woff'),
  url('../fonts/peralta-regular-webfont.ttf') format('truetype'),
  url('../fonts/peralta-regular-webfont.svg#peralta-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bitter-italic';
  src: url('../fonts/bitter-italic-webfont.eot');
  src: url('../fonts/bitter-italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/bitter-italic-webfont.woff') format('woff'),
  url('../fonts/bitter-italic-webfont.ttf') format('truetype'),
  url('../fonts/bitter-italic-webfont.svg#bitter-italic') format('svg');
  font-weight: normal;
  font-style: normal;
}